@font-face {
  font-family: "Antonio Bold";
  src: url("~@/assets/fonts/antonio/antonio-bold.eot");
  src:
    url("~@/assets/fonts/antonio/antonio-bold.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/antonio/antonio-bold.woff2") format("woff2"),
    url("~@/assets/fonts/antonio/antonio-bold.woff") format("woff"),
    url("~@/assets/fonts/antonio/antonio-bold.ttf") format("truetype"),
    url("~@/assets/fonts/antonio/antonio-bold.svg#antoniobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Antonio Light";
  src: url("~@/assets/fonts/antonio/antonio-light.eot");
  src:
    url("~@/assets/fonts/antonio/antonio-light.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/antonio/antonio-light.woff2") format("woff2"),
    url("~@/assets/fonts/antonio/antonio-light.woff") format("woff"),
    url("~@/assets/fonts/antonio/antonio-light.ttf") format("truetype"),
    url("~@/assets/fonts/antonio/antonio-light.svg#antoniolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Antonio Regular";
  src: url("~@/assets/fonts/antonio/antonio-regular.eot");
  src:
    url("~@/assets/fonts/antonio/antonio-regular.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/antonio/antonio-regular.woff2") format("woff2"),
    url("~@/assets/fonts/antonio/antonio-regular.woff") format("woff"),
    url("~@/assets/fonts/antonio/antonio-regular.ttf") format("truetype"),
    url("~@/assets/fonts/antonio/antonio-regular.svg#antonioregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
